<div class="container min-height">
  <div class="d-flex justify-content-between">
    <h2>Sign up</h2>
    <div>Already signed up ?
      <%- if controller_name != 'sessions' %>
        <%= link_to "Log in", new_session_path(resource_name) %><br />
      <% end %>
    </div>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  placeholder: "JaneDoe21"%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  placeholder: "janedoe@email.com",
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  placeholder: raw("&bull;&bull;&bull;&bull;&bull;&bull;"),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  placeholder: raw("&bull;&bull;&bull;&bull;&bull;&bull;"),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo, as: :file, label: "Profile picture" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "button" %>
    </div>
  <% end %>
