<div class="container container-margin min-height d-flex">
  <!-- Left side -->
  <div>
    <!-- User card -->
    <div class="user-card background-blue position-relative">
      <div class="position-absolute avatar-profile">
        <%= image_tag("avatar_default.svg") %>
      </div>
      <h3><%= @user.username %></h3>
      <div class="d-flex">
        <div class="col text-center vertical-separator">
          <p>Footprint</p>
          <% if @score %>
            <p class="secular-one numbers-big"><%= @score %></p>
          <% end %>
        </div>
        <div class="col text-center">
          <p>Challenges</p>
          <p class="secular-one numbers-big"><%= @user_challenges.count %></p>
        </div>
      </div>
      <p>Completed challenge last on Nov 14, 2020<br>Joined on <%= @user.created_at.strftime("%b %d, %Y") %></p>
      <div class="button-outline-blue margin-bottom-none">
        <%= link_to "Edit" %>
      </div>
    </div>
    <!-- Achievements section -->
    <div>
      <h2>Achievements</h2>
      <hr>
      <% @done_challenges.each do |user_challenge| %>
        <div>
          <%= link_to user_challenge.challenge.name, challenge_path(user_challenge.challenge) %>
          <p><%= user_challenge.challenge.points %></p>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Right side -->
  <div>
    <!-- Carbon footprint -->
    <div>
      <h2>Carbon footprint</h2>
      <hr>
      <div>
        <% if @score %>
          <p><%= @score %></p>
          <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="<%= (5000 - @score)/50 %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Ongoing challenges -->
    <div>
      <h2>Ongoing challenges</h2>
      <hr>
      <div>
        <% @ongoing_challenges.each do |user_challenge| %>
          <div>
            <%= link_to user_challenge.challenge.name, challenge_path(user_challenge.challenge) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

