<% if user_signed_in? %>
  <!-- User signed in view: start -->
  <div class="container container-margin">
    <!-- Welcome line -->
    <h1 class="welcome-line">Welcome <span class="username-green"><%= current_user.username %> <i class="fas fa-seedling"></i></span></h1>
    <!-- Carbon footprint -->
    <div class="secondary-container">
      <h2 class="dashboard">Carbon footprint</h2>
      <div class="footprint-container">
        <div class="score-card">
          <p>Your score</p>
          <% if @score %>
            <p class="score"><%= @score %></p>
          <% end %>
        </div>
        <div class="results">
          <p>Your lifestyle emits 531kg of CO2 per year.</p>
          <div class="percentages">
            <!-- Component -->
            <div class="percentage">
              <div class="percentage-details">
                <p>bathroom</p>
                <p class="level-percent">3%</p>
              </div>
              <div class="result-bar">
                <div class="gauge bathroom"></div>
              </div>
            </div>
            <div class="percentage margin-left">
              <div class="percentage-details">
                <p>daily</p>
                <p class="level-percent">11%</p>
              </div>
              <div class="result-bar">
                <div class="gauge daily"></div>
              </div>
            </div>
            <div class="percentage">
              <div class="percentage-details">
                <p>energy</p>
                <p class="level-percent">15%</p>
              </div>
              <div class="result-bar">
                <div class="gauge energy"></div>
              </div>
            </div>
            <div class="percentage margin-left">
              <div class="percentage-details">
                <p>food</p>
                <p class="level-percent">22%</p>
              </div>
              <div class="result-bar">
                <div class="gauge food"></div>
              </div>
            </div>
            <div class="percentage">
              <div class="percentage-details">
                <p>shopping</p>
                <p class="level-percent">18%</p>
              </div>
              <div class="result-bar">
                <div class="gauge shopping"></div>
              </div>
            </div>
            <div class="percentage margin-left">
              <div class="percentage-details">
                <p>transports</p>
                <p class="level-percent">31%</p>
              </div>
              <div class="result-bar">
                <div class="gauge transports"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Rest of dashboard -->
    <div class="secondary-container">
      <!-- Challenges -->
      <h2 class="dashboard">Challenges</h2>
      <div class="dashboard-challenge-cards">
        <% @user_challenges.each do |user_challenge| %>
          <% if user_challenge.status == "in_progress" %>
            <%= link_to challenge_path(user_challenge.challenge) do %>
              <div class="dashboard-challenge-card-progress">
                <h4><%= user_challenge.challenge.name %></h4>
                <p class="challenge-card-category"><%= user_challenge.challenge.category.name.downcase %></p>
                <div class="status">
                  <p class="in-progress">In progress</p>
                  <p>Nail it now!</p>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= link_to challenge_path(user_challenge.challenge) do %>
              <div class="dashboard-challenge-card-completed">
                <h4><%= user_challenge.challenge.name %></h4>
                <p class="challenge-card-category background-green"><%= user_challenge.challenge.category.name.downcase %></p>
                <div class="status">
                  <p class="completed">Completed</p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to challenges_path do %>
          <div class="dashboard-challenge-button">
            <p class="plus">+</p>
            <p>Start a new challenge</p>
          </div>
        <% end %>
      </div>
      <!-- Tips -->
      <h2 class="dashboard">Tips</h2>
      <div class="tip-suggestions">

      </div>
      <!-- Friends zone -->
      <div class="friends-container">
        <div>
          <h2 class="dashboard">You've been challenged!</h2>
          <div class="invitation-cards background-blue">
            <% if @open_invites != [] %>
              <% @open_invites.each do |invite| %>
                <div class="invitation-card">
                  <img src="" class="avatar">
                  <div class="invitation-card-info">
                    <p><%= link_to "#{invite.inviter.username}", user_path(invite.inviter.id) %> invited you to participate to <span class="secular-one"><%= link_to invite.challenge.name, challenge_path(invite.challenge.id) %></span>.</p>
                    <div class="">
                      <%= link_to "Accept", challenge_invite_path(invite.challenge, invite),
                                                method: :patch,
                                                class: "button-primary" %>
                      <%= link_to "Decline", challenge_invite_path(invite.challenge, invite),
                                                class: "button-primary",
                                                method: :delete %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div>
          <h2 class="dashboard">They want to stalk you</h2>
          <div class="invitation-cards background-blue">
            <% if @open_invites != [] %>
              <% @open_invites.each do |invite| %>
                <div class="invitation-card">
                  <img src="" class="avatar">
                  <div class="invitation-card-info">
                    <p><span class="secular-one"><%= link_to "#{invite.inviter.username}", user_path(invite.inviter.id) %></span> wants to follow you.</p>
                    <div class="">
                      <%= link_to "Accept", challenge_invite_path(invite.challenge, invite),
                                                method: :patch,
                                                class: "button-primary" %>
                      <%= link_to "Decline", challenge_invite_path(invite.challenge, invite),
                                                class: "button-primary",
                                                method: :delete %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p>Chill!</p>
              <p>Enjoy the free inbox.</p>
            <% end %>
          </div>
        </div>
        <%= link_to do %>
          <div class="dashboard-challenge-button">
            <p>Find a friend to stalk</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- User signed in view: end -->
<% else %>
  <!-- User signed out view -->
  <div class="homepage2">
    <div class="container container-margin min-height">
      <h1 class="welcome-line baseline">Change is now</h1>
      <br>
      <p class="landing-page">Get a clear idea of your lifestyle footprint, improve it and challenge yourself and your friends!</p>
      <p class="landing-page">Change is now, and it is fun. Sign up now !</p>
      <br>
      <%= link_to "Sign up", new_user_registration_path, class: "button" %>
    </div>
  </div>
<% end %>
