<div class="container">
  <div class="category-cards">
    <% @categories.each do |category| %>
      <div class="category-card <%=category.name.downcase%>">
        <h2><%= category.name %></h2>
      </div>
    <% end %>
  </div>
  <div class="cards">
    <% @challenges.each do |challenge| %>
    <div class="challenge-card">
      <%= image_tag("image-energy.jpg") %>
      <div class="challenge-card-infos">
        <h2><%= link_to challenge.name, challenge_path(challenge) %></h2>
        <h3><%= challenge.category.name %></h3>
        <p><%= challenge.description.to_s.truncate(80) %></p>
        <p><%= link_to "Read more", challenge_path(challenge) %></p>
      </div>
    </div>
    <% end %>
  </ul>
  </div>
</div>

