<div class="container">
  <div class="category-cards">
    <% @categories.each do |category| %>
      <div class="category-card <%=category.name.downcase%>">
        <h2><%= category.name %></h2>
      </div>
    <% end %>
  </div>
  <div>
    <%= simple_form_for :search, url: challenges_path, method: :get do |f| %>
      <div class="search-form-control form-group mb-4">
        <input class="form-control string required" type="text" placeholder="A reading wish..." name="[query]" id="pg_search" />
        <div class="row flex-row d-flex justify-content-between mx-0 my-2">
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Let's see what challenge we can find for you today...
          </button>
            <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-hand-point-left"></i> Let's go back ...
          </button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="cards">
    <% @challenges.each do |challenge| %>
    <div class="challenge-card">
      <%= image_tag("#{challenge.image}") %>
      <div class="challenge-card-infos">
        <h2><%= link_to challenge.name, challenge_path(challenge) %></h2>
        <h3><%= challenge.category.name %></h3>
        <p><%= challenge.description.to_s.truncate(80) %><%= link_to "     Read more", challenge_path(challenge) %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>

