<div class="container">
  <div class="category-cards">
    <% @categories.each do |category| %>
      <div class="category-card <%=category.name.downcase%>" data-category="<%=category.name.downcase%>">
        <h2 data-category="<%=category.name.downcase%>"><%= category.name  %></h2>
      </div>
    <% end %>
  </div>
  <div>
    <%= simple_form_for :search, url: tips_path, method: :get do |f| %>
    <div class="search-form-control form-group mb-4">
      <input class="form-control string required" type="text" placeholder="Search for a tip here" name="[query]" id="pg_search" />
      <div class="row flex-row d-flex justify-content-between mx-0 my-2">
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Let's see what tip we can find for you today...
        </button>
          <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-hand-point-left"></i> Let's go back ...
        </button>
      </div>
    </div>
    <% end %>
  </div>
  <div class="cards">
    <% @tips.each do |tip| %>
    <div class="tip-card" data-category="<%=tip.category.name.downcase%>">
      <%= image_tag("tip-#{tip.image}.jpg") %>
      <div class="tip-card-infos">
        <h2><%= link_to tip.title, tip_path(tip) %></h2>
        <h3><%= tip.category.name %></h3>
        <p><%= tip.description.to_s.truncate(80) %><%= link_to "     Read more", tip_path(tip) %></p>
      </div>
    </div>
    <% end %>
  </ul>
  </div>
</div>

