<!DOCTYPE html>
<html>
  <head>
    <title>CLEO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <header>
    <div class="d-flex navbar">
      <div class="mr-auto p-2"> <img src="logo.png" alt="logo"></div>
      <div class="p-2">Dashboard</div>
      <div class="p-2">Challenges</div>
      <div class="p-2">Tips</div>
      <div class="p-2 avatar">avatar</div>
    </div>
  </header>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
