<!DOCTYPE html>
<html>
  <head>
    <title>CLEO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <!-- Body -->
  <body class="<%= @home_page ? 'homepage' : ''%>">
    <!-- Header / Navbar -->
    <header>
      <div class="d-flex navbar">
        <div class="container">
          <!-- Logo -->
          <div class="mr-auto logo-navbar">
            <%= link_to root_path do %>
              <%= image_tag("Logo_Cleo_navbar.svg") %>
            <% end %>
          </div>
          <!-- Menu -->
          <% if user_signed_in? %>
          <div class="px-3 title-navbar active" id="dashboard">
           <svg width="40" height="40" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.5" d="M63.5 119C32.8975 119 8 94.1025 8 63.5C8 32.8975 32.8975 8 63.5 8C94.1025 8 119 32.8975 119 63.5C119 94.1025 94.1025 119 63.5 119Z" fill="#38B44E"/>
              <path d="M107.703 82.8044C110.298 76.8865 111.761 70.3645 111.761 63.5C111.761 36.8891 90.1109 15.2391 63.5 15.2391C36.8892 15.2391 15.2391 36.8891 15.2391 63.5C15.2391 70.3645 16.7021 76.8865 19.2969 82.8044H107.703Z" fill="white"/>
              <path opacity="0.5" d="M68.6224 68.6224C65.8 71.4447 61.2071 71.4447 58.3847 68.6224C55.5624 65.8 49.0218 49.0217 49.0218 49.0217C49.0218 49.0217 65.8 55.5623 68.6224 58.3847C71.4448 61.2071 71.4448 65.8 68.6224 68.6224Z" fill="#C4C4C4"/>
              <path opacity="0.5" d="M63.4999 27.3043C53.5208 27.3043 44.4718 31.3637 37.9177 37.9178L44.7396 44.7397C49.546 39.9333 56.1818 36.9565 63.4999 36.9565C78.136 36.9565 90.0434 48.8638 90.0434 63.5H99.6956C99.6956 43.5417 83.4582 27.3043 63.4999 27.3043Z" fill="#C4C4C4"/>
              <path opacity="0.5" d="M27.3044 63.5H36.9566C36.9566 56.1819 39.9334 49.5461 44.7397 44.7397L37.9178 37.9178C31.3637 44.4719 27.3044 53.5208 27.3044 63.5Z" fill="#38B44E"/>
           </svg>
           <%= link_to "Dashboard", root_path %>
          </div>
          <div class="px-3 title-navbar" id="challenges">
            <svg width="40" height="40" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.5">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M64.4999 95.2508C85.968 95.2508 103.371 77.8474 103.371 56.3793C103.371 34.9112 85.968 17.5078 64.4999 17.5078C43.0318 17.5078 25.6284 34.9112 25.6284 56.3793C25.6284 77.8474 43.0318 95.2508 64.4999 95.2508ZM64.4999 97.7586C87.3531 97.7586 105.879 79.2325 105.879 56.3793C105.879 33.5261 87.3531 15 64.4999 15C41.6467 15 23.1206 33.5261 23.1206 56.3793C23.1206 79.2325 41.6467 97.7586 64.4999 97.7586Z" fill="#38B44E"/>
              <path d="M34.4059 67.6645L64.8118 112.806H4L34.4059 67.6645Z" fill="#C4C4C4"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M34.4059 67.6645L4 112.806H64.8118L34.4059 67.6645ZM34.4059 72.1535L8.71291 110.298H60.0989L34.4059 72.1535Z" fill="#999999"/>
              <path d="M94.5941 67.6645L125 112.806H64.1882L94.5941 67.6645Z" fill="#C4C4C4"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M94.5941 67.6645L64.1882 112.806H125L94.5941 67.6645ZM94.5941 72.1535L68.9011 110.298H120.287L94.5941 72.1535Z" fill="#999999"/>
              <path d="M64.4999 58.8872L102.507 112.492H26.4926L64.4999 58.8872Z" fill="#C4C4C4"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M64.4999 58.8872L26.4926 112.492H102.507L64.4999 58.8872ZM64.4999 63.223L31.3449 109.984H97.6549L64.4999 63.223Z" fill="#999999"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M65.7538 36.3166V61.395H63.246V36.3166H65.7538Z" fill="#999999"/>
              <path d="M80.8009 36.9435H64.4999V48.2288H80.8009L76.4122 42.5862L80.8009 36.9435Z" fill="#38B44E"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M63.246 35.6897H83.3646L78.0007 42.5862L83.3646 49.4828H63.246V35.6897ZM65.7538 38.1975V46.9749H78.237L74.8236 42.5862L78.237 38.1975H65.7538Z" fill="#999999"/>
              <path d="M58.1024 86.4733L51.9608 79.4747L64.244 61.395L77.0391 79.4747L70.3857 86.4733L64.244 80.0579L58.1024 86.4733Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M64.2231 59.1946L78.6582 79.5917L70.389 88.2899L64.2442 81.8712L58.0623 88.3286L50.3785 79.5726L64.2231 59.1946ZM64.2652 63.5953L53.5433 79.3769L58.1427 84.6181L64.2442 78.2447L70.3826 84.6568L75.4203 79.3577L64.2652 63.5953Z" fill="#999999"/>
              <path d="M29.2879 91.4891L24.3746 85.5402L34.2012 70.1725L44.4373 85.5402L39.1145 91.4891L34.2012 86.036L29.2879 91.4891Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M34.1799 67.8784L46.0191 85.653L39.1178 93.3659L34.2013 87.9092L29.2467 93.4082L22.8261 85.6344L34.1799 67.8784ZM34.2227 72.4666L25.9232 85.4461L29.3293 89.57L34.2013 84.1627L39.1113 89.6122L42.8556 85.4275L34.2227 72.4666Z" fill="#999999"/>
              <path d="M89.4761 91.4891L84.5627 85.5402L94.3894 70.1725L104.625 85.5402L99.3027 91.4891L94.3894 86.036L89.4761 91.4891Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M94.3678 67.8784L106.207 85.653L99.3058 93.3659L94.3893 87.9092L89.4347 93.4082L83.0141 85.6344L94.3678 67.8784ZM94.4107 72.4666L86.1112 85.4461L89.5172 89.57L94.3893 84.1627L99.2993 89.6122L103.044 85.4275L94.4107 72.4666Z" fill="#999999"/>
              </g>
              </svg>
            <%= link_to " Challenges", challenges_path %>
          </div>
          <div class="px-3 title-navbar" id="tips">
            <svg width="40" height="40" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.5">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M73.5155 72.6714H53.4848V79.2136C53.4848 79.2136 54.8662 87.0642 63.8455 87.0642C72.8248 87.0642 73.5155 79.2136 73.5155 79.2136V72.6714Z" fill="#C4C4C4"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M82.1001 45.286C82.1001 45.393 82.0992 45.4998 82.0975 45.6064C82.1246 47.2732 81.9621 50.1553 80.8478 53.2882C79.2151 57.8784 73.4958 68.3929 72.8001 69.6659L72.7307 69.7928H54.1772C54.1772 69.7928 48.4513 58.3013 46.6399 53.2882C46.5818 53.1274 46.5257 52.9675 46.4714 52.8086C45.4611 50.5073 44.9001 47.9624 44.9001 45.286C44.9001 45.079 44.9035 44.8728 44.9102 44.6674C44.8972 44.3129 44.9005 44.119 44.9005 44.119H44.9359C45.536 34.3505 53.6181 26.6142 63.5001 26.6142C73.7726 26.6142 82.1001 34.9739 82.1001 45.286Z" fill="#C4C4C4"/>
              </g>
              <path d="M59.617 38.5253C61.5055 37.221 64.8902 35.9141 64.8902 35.9141C64.8902 35.9141 66.0777 38.7939 66.648 40.7013C67.0497 42.0451 67.3812 42.7888 67.5268 44.1828C67.6328 45.1971 67.5268 46.794 67.5268 46.794V48.0996C67.5268 48.0996 67.1801 48.4294 66.648 48.5348C65.8066 48.7014 65.7316 48.3681 64.8902 48.5348C64.3581 48.6402 63.6037 48.7033 63.1325 48.97C62.5003 49.3277 61.986 50.319 61.3747 50.7107C61.0526 50.9172 60.0564 51.1459 60.0564 51.1459L62.2536 42.0068L57.4198 52.8867C57.4198 52.8867 55.7566 50.946 55.2226 49.8403C54.7543 48.8707 54.513 48.2909 54.3438 47.2292C54.1832 46.2219 54.1235 45.6141 54.3438 44.618C54.6901 43.0518 55.483 42.3501 56.5409 41.1365C57.5748 39.9504 58.3192 39.4216 59.617 38.5253Z" fill="white"/>
              <path d="M60.4959 55.4979L65.7691 54.6275L61.3747 56.8035C61.3747 56.8035 62.8175 58.657 64.0114 58.9794C65.0047 59.2477 65.6433 59.2026 66.648 58.9794C67.998 58.6795 68.6909 58.1501 69.724 57.2387C70.8263 56.2661 71.2491 55.494 71.9212 54.1923C72.3419 53.3774 72.8001 52.0163 72.8001 52.0163L69.724 50.7107C69.724 50.7107 67.623 49.883 66.2085 49.8403C65.3466 49.8144 64.8253 49.7759 64.0114 50.0579C63.2473 50.3227 62.8527 50.6068 62.2536 51.1459C61.6185 51.7174 61.2873 52.1117 60.9353 52.8867C60.5764 53.677 60.4959 55.4979 60.4959 55.4979Z" fill="white"/>
              <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M63.5 14.3947C38.8985 14.3947 19.241 32.7976 19.241 55.1483C19.241 70.132 28.0428 83.3093 41.2855 90.4022L42.0434 90.8081L41.8839 91.6978C41.2028 95.4996 40.0019 101.27 38.3719 105.338C37.6084 107.244 36.4635 109.493 35.4559 111.359L60.8459 95.8309L61.1705 95.8464C61.9419 95.8833 62.7185 95.9019 63.5 95.9019C88.1015 95.9019 107.759 77.4989 107.759 55.1483C107.759 32.7976 88.1015 14.3947 63.5 14.3947ZM31.3184 114.046L31.3201 114.043L31.327 114.031L31.3552 113.984C31.3802 113.942 31.4175 113.879 31.4656 113.797C31.5618 113.634 31.7015 113.396 31.8745 113.096C32.2205 112.497 32.6988 111.657 33.227 110.691C34.29 108.749 35.5304 106.346 36.3119 104.396C37.7235 100.873 38.8265 95.8632 39.5222 92.1274C26.0826 84.6096 17 70.9048 17 55.1483C17 31.1612 37.9767 12 63.5 12C89.0233 12 110 31.1612 110 55.1483C110 79.1354 89.0233 98.2966 63.5 98.2966C62.7952 98.2966 62.094 98.282 61.3967 98.2532L32.8186 115.731L31.3184 114.046Z" fill="#38B44E"/>
            </svg>
            <%= link_to " Tips", tips_path(:category_id) %>
          </div>
            <!-- Dropdown avatar -->
            <div class="dropdown mr-1">
              <div class="avatar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag("avatar_default.svg") %>
              </div>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuOffset">
                <%= link_to "Profile", user_path(current_user.id), class: "dropdown-item" %>
                <%= link_to "Settings", root_path, class: "dropdown-item" %>
                <%= link_to "Help", root_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
              </div>
            </div>
          <% else %>
            <%= link_to "Log in", user_session_path, class: "button" %>
          <% end %>
        </div>
      </div>
    </header>

    <%= render 'shared/flashes' %>

    <div class="<%= @show_page ? 'min-height' : 'container container-margin'%>">
      <%= yield %>
    </div>
    <!-- Footer -->

    <footer class="d-flex align-items-center">
      <div class="container d-flex justify-content-end">
        <p>Made with <i class="fas fa-heart"></i> in Brussels © 2020 Cleo</p>
      </div>
    </footer>

  </body>

</html>


